<h1>Add Cat!</h1>

<%= render 'form', cat: @cat, action: :new %>

<!-- <form action="/cats" method="post">
  <label for="name">Name</label>
  <input id="name" type="text" name="cat[name]">
  
  <br>
  
  <label for="birthday">Birthday</label>
  <input id="birthday" type="date" name="cat[birth_date]">
  
  <br>
  
  <label for="color">Color</label>
  <select id="color" name="cat[color]">
    <option disabled selected>--Please Select Color--</option>
    <option value = "blue">Blue</option>
    <option value = "red">Red</option>
    <option value = "green">Green</option>
    <option value = "brown">Brown</option>
    <option value = "black">Black</option>
    <option value = "white">White</option>
  </select>
  
  <br><br>
  
  <label for="sex">Sex</label>
  <input type="radio" name="cat[sex]" value="M">Male
  <input type="radio" name="cat[sex]" value="F">Female<br>
  
  <label for="description">Description</label>
  <textarea name="cat[description]"></textarea>
  
  <br>
  
  <input type="submit" value="Add Cat">
  
</form> -->